<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangw.rxsample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sample1.SampleActivity1"
            android:label="@string/title_activity_sample1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CreateOperationActivity"></activity>
        <activity android:name=".TransformingOperationActivity"></activity>
        <activity android:name=".FilteringActivity"></activity>

    </application>

</manifest>
